### Отримую дані з CSV файлу

In [85]:
import pandas as pd

df_csv = pd.read_csv('data.csv')
df_csv.head(2)

,id,sex,name,last_name,email_addr,phone,date_of_birth,passport,locality_koatuu,locality_katottg,locality_type,locality_name,postal_code
0,909057889,True,Данило,Верес,trokhymredko@duplii-dzhun.com,0676463141,2002-07-22,НК 811368,8362763463,UA01000000000396150,місто,Радивилів,32791
1,222992485,False,Марта,Верменич,edyta99@holyk-yevtushok.com,+38(073)144-27-89,2016-01-04,195352596,8447652228,UA01000000000576403,хутір,Гола Пристань,74095

#### Прибираю зайві стовпчики

In [87]:
new_df_csv = df_csv.drop(['locality_koatuu', 'locality_katottg', 'locality_type', 'locality_name', 'postal_code'],axis=1)
new_df_csv.head(2)

,id,sex,name,last_name,email_addr,phone,date_of_birth,passport
0,909057889,True,Данило,Верес,trokhymredko@duplii-dzhun.com,0676463141,2002-07-22,НК 811368
1,222992485,False,Марта,Верменич,edyta99@holyk-yevtushok.com,+38(073)144-27-89,2016-01-04,195352596

In [88]:
# перевіряю та міняю на потрібний формат дані в стовпеці phone
def format_phone_number(phone):
    phone = ''.join(filter(str.isdigit, phone))
    if len(phone) == 9:
        return f"+380{phone}" 
    elif len(phone) == 10 and phone.startswith('0'):
        return f"+38{phone}" 
    else:
        return phone

new_df_csv['phone'] = new_df_csv['phone'].apply(format_phone_number)

# приводжу до відповідного формату стовпець date_of_birth
new_df_csv['date_of_birth'] = pd.to_datetime(new_df_csv['date_of_birth'])

# заміняю в колонці sex True но 'F, False на 'M'
new_df_csv['sex'] = new_df_csv['sex'].replace(True, 'F')
new_df_csv['sex'] = new_df_csv['sex'].replace(False, 'M')

new_df_csv

,id,sex,name,last_name,email_addr,phone,date_of_birth,passport
0,909057889,F,Данило,Верес,trokhymredko@duplii-dzhun.com,+380676463141,2002-07-22,НК 811368
1,222992485,M,Марта,Верменич,edyta99@holyk-yevtushok.com,380731442789,2016-01-04,195352596
2,299247381,F,Богдан,Базилевський,iaroslavakorbut@derkach.com,380950746622,2008-08-06,АМ 467677
3,498376977,M,Юстина,Козак,babychvalentyn@romanchuk.info,+380910694287,2022-06-29,990842832
4,115565342,M,Олена,Конопля,roman00@shakhrai.info,+380959519406,2007-09-13,257889376
...,...,...,...,...,...,...,...,...
995,308429867,M,Христина,Швачка,riabchenkovolodymyr@hrechanyk.com,380732606556,2023-06-08,272363048
996,121751083,M,Дарина,Рубан,rebrykiukhym@drozd.info,+380502656417,2005-04-10,541857061
997,502563493,F,Мирослав,Чекалюк,liudmylakyrylenko@zhalilo-kolisnychenko.ua,380681114311,2003-02-22,015698924
998,873101935,F,Вадим,Шаблій,okseniiaonufriienko@pryimak.ua,380914284588,2000-03-20,289249536
999,294351520,M,Єлисавета,Тарасенко,venedyktdashkevych@babych.ua,380732087993,2006-01-03,СН 575261

### Отримую дані з API

In [90]:
import requests

url = "https://raw.githubusercontent.com/lia-diez/fake_json_data/main/fake_data.json"

headers = {
    'x-fake-auth': 'YmlnIGJsYWNrIGNvY2s'
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    data = response.json()
    df_api = pd.json_normalize(data)
    print(df_api)
else:
    print(f"Помилка: {response.status_code}")

            id gender  firstName      lastName  \
0    638400817      F       Віра       Шеремет
1    517572829      M      Федір      Іваничук
2      5104890      M      Пилип     Атаманчук
3    882442125      M     Степан       Олійник
4    862234690      F     Оксана  Колесниченко
..         ...    ...        ...           ...
995  613298530      M  Владислав     Вакуленко
996  795867425      M    Леонтій         Сацюк
997  111210952      F     Юстина        Яценюк
998  245919280      F   Вікторія         Таран
999  835499100      M     Онисим     Артюшенко

                                             email        phoneNumber  \
0                             obabiak@danchenko.ua         0953822244
1                   havriushenkoteodor@masliak.com  +38(050)106-11-92
2                 andriishyniukhym@havrylyshyn.net      +380668890136
3                         venedykt27@demianiuk.укр      098 029 17 04
4               nazarkolesnychenko@yevtushenko.com         0676854418
..                                             ...                ...
995                     hannaartymovych@zharko.укр  +38(066)865-30-10
996                          lverkhola@riabets.com      093 372 21 21
997       ruslanaleksandrenko@valenko-mykytiuk.net  +38(095)183-48-08
998  shukhevychhavrylo@shukhevych-vdovychenko.info  +38(094)768-32-70
999                          tkybkalo@atamaniuk.ua         0998535138

                     job        district    dateBorn  document.type  \
0                Географ  Шевченківський  17.02.2008  passport_book
1       Мистецтвознавець      Дарницький  14.09.2016        id_card
2            Стропальник      Печерський  30.03.2000        id_card
3                Ді-джей     Деснянський  29.04.2018  passport_book
4                 Модель     Деснянський  07.02.2003        id_card
..                   ...             ...         ...            ...
995  Головний меркшейдер     Оболонський  14.08.2016  passport_book
996          Кінорежисер    Дніпровський  16.02.2014  passport_book
997              Ріелтор     Оболонський  06.09.2011        id_card
998             Етнограф     Подільський  28.04.2005        id_card
999        Музикознавець   Солом'янський  19.03.2001        id_card

    document.number document.series
0            630591              УС
1         363090387            None
2         843139041            None
3            473214              СВ
4         610539616            None
..              ...             ...
995          918293              ОО
996          268135              КА
997       219316433            None
998       691569177            None
999       075891102            None

[1000 rows x 12 columns]

In [91]:
df_api.head(3)

,id,gender,firstName,lastName,email,phoneNumber,job,district,dateBorn,document.type,document.number,document.series
0,638400817,F,Віра,Шеремет,obabiak@danchenko.ua,0953822244,Географ,Шевченківський,17.02.2008,passport_book,630591,УС
1,517572829,M,Федір,Іваничук,havriushenkoteodor@masliak.com,+38(050)106-11-92,Мистецтвознавець,Дарницький,14.09.2016,id_card,363090387,None
2,5104890,M,Пилип,Атаманчук,andriishyniukhym@havrylyshyn.net,+380668890136,Стропальник,Печерський,30.03.2000,id_card,843139041,None

In [92]:
# Видаляю зайві колонки
new_df_api = df_api.drop(['job', 'district', 'document.type'],axis=1)
new_df_api.head(2)

,id,gender,firstName,lastName,email,phoneNumber,dateBorn,document.number,document.series
0,638400817,F,Віра,Шеремет,obabiak@danchenko.ua,0953822244,17.02.2008,630591,УС
1,517572829,M,Федір,Іваничук,havriushenkoteodor@masliak.com,+38(050)106-11-92,14.09.2016,363090387,None

In [93]:
# перевіряю та міняю на потрібний формат дані в стовпці phoneNumber
def format_phone_number(phoneNumber):
    phoneNumber = ''.join(filter(str.isdigit, phoneNumber))
    if len(phoneNumber) == 9:
        return f"+380{phoneNumber}" 
    elif len(phoneNumber) == 10 and phoneNumber.startswith('0'):
        return f"+38{phoneNumber}" 
    else:
        return phoneNumber

new_df_api['phoneNumber'] = new_df_api['phoneNumber'].apply(format_phone_number)

# приводжу до відповідного формату стовпець dateBorn
new_df_api['dateBorn'] = pd.to_datetime(new_df_api['dateBorn'])

# об"єдную document.series та document.number
new_df_api['passport'] = new_df_api.apply(lambda row: f"{row['document.series']} {row['document.number']}" 
                           if row['document.series'] else row['document.number'], axis=1)

# видаляю зайві колонки
new_df_api = new_df_api.drop(['document.series', 'document.number'], axis=1)

new_df_api

C:\Users\Professional\AppData\Local\Temp\ipykernel_20424\3306634059.py:14: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  new_df_api['dateBorn'] = pd.to_datetime(new_df_api['dateBorn'])

,id,gender,firstName,lastName,email,phoneNumber,dateBorn,passport
0,638400817,F,Віра,Шеремет,obabiak@danchenko.ua,+380953822244,2008-02-17,УС 630591
1,517572829,M,Федір,Іваничук,havriushenkoteodor@masliak.com,380501061192,2016-09-14,363090387
2,5104890,M,Пилип,Атаманчук,andriishyniukhym@havrylyshyn.net,380668890136,2000-03-30,843139041
3,882442125,M,Степан,Олійник,venedykt27@demianiuk.укр,+380980291704,2018-04-29,СВ 473214
4,862234690,F,Оксана,Колесниченко,nazarkolesnychenko@yevtushenko.com,+380676854418,2003-02-07,610539616
...,...,...,...,...,...,...,...,...
995,613298530,M,Владислав,Вакуленко,hannaartymovych@zharko.укр,380668653010,2016-08-14,ОО 918293
996,795867425,M,Леонтій,Сацюк,lverkhola@riabets.com,+380933722121,2014-02-16,КА 268135
997,111210952,F,Юстина,Яценюк,ruslanaleksandrenko@valenko-mykytiuk.net,380951834808,2011-09-06,219316433
998,245919280,F,Вікторія,Таран,shukhevychhavrylo@shukhevych-vdovychenko.info,380947683270,2005-04-28,691569177
999,835499100,M,Онисим,Артюшенко,tkybkalo@atamaniuk.ua,+380998535138,2001-03-19,075891102

In [94]:
# змінюю назви колонок
new_df_api = new_df_api.rename(columns={'gender': 'sex', 'firstName': 'name', 'lastName': 'last_name', 'email': 'email_addr','phoneNumber': 'phone', 'dateBorn': 'date_of_birth',})

### Oб'єдную два датафрейми

In [96]:
union_df = pd.concat([new_df_csv, new_df_api]).drop_duplicates().reset_index(drop=True)

In [97]:
df_union_cleaned = union_df.dropna()
df_union_cleaned

,id,sex,name,last_name,email_addr,phone,date_of_birth,passport
0,909057889,F,Данило,Верес,trokhymredko@duplii-dzhun.com,+380676463141,2002-07-22,НК 811368
1,222992485,M,Марта,Верменич,edyta99@holyk-yevtushok.com,380731442789,2016-01-04,195352596
2,299247381,F,Богдан,Базилевський,iaroslavakorbut@derkach.com,380950746622,2008-08-06,АМ 467677
3,498376977,M,Юстина,Козак,babychvalentyn@romanchuk.info,+380910694287,2022-06-29,990842832
4,115565342,M,Олена,Конопля,roman00@shakhrai.info,+380959519406,2007-09-13,257889376
...,...,...,...,...,...,...,...,...
1995,613298530,M,Владислав,Вакуленко,hannaartymovych@zharko.укр,380668653010,2016-08-14,ОО 918293
1996,795867425,M,Леонтій,Сацюк,lverkhola@riabets.com,+380933722121,2014-02-16,КА 268135
1997,111210952,F,Юстина,Яценюк,ruslanaleksandrenko@valenko-mykytiuk.net,380951834808,2011-09-06,219316433
1998,245919280,F,Вікторія,Таран,shukhevychhavrylo@shukhevych-vdovychenko.info,380947683270,2005-04-28,691569177
1999,835499100,M,Онисим,Артюшенко,tkybkalo@atamaniuk.ua,+380998535138,2001-03-19,075891102

In [98]:
#pip freeze > requirements.txt